/* line 6, ../../../sass/projects/taggle/taggle.scss */
html {
  background: url(/assets/images/projects/taggle/bg.png) repeat;
}

/* line 10, ../../../sass/projects/taggle/taggle.scss */
h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 1px white;
  color: #000;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}

/* line 18, ../../../sass/projects/taggle/taggle.scss */
pre {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 22, ../../../sass/projects/taggle/taggle.scss */
p {
  color: #000;
}

/* line 26, ../../../sass/projects/taggle/taggle.scss */
p a {
  color: #990033;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  padding: 3px;
}

/* line 33, ../../../sass/projects/taggle/taggle.scss */
p a:hover {
  color: #fff;
  background: #990033;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/* line 39, ../../../sass/projects/taggle/taggle.scss */
.btn {
  background: #990033;
  padding: 12px 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
  color: white !important;
  position: relative;
  display: inline-block;
}
/* line 48, ../../../sass/projects/taggle/taggle.scss */
.btn:hover {
  background: #cc0044;
}
/* line 52, ../../../sass/projects/taggle/taggle.scss */
.btn:active {
  top: 1px;
}
/* line 56, ../../../sass/projects/taggle/taggle.scss */
.btn:last-child {
  margin-right: 0;
}

/* line 61, ../../../sass/projects/taggle/taggle.scss */
::selection {
  background: #990033;
  color: #fff;
}

/* line 66, ../../../sass/projects/taggle/taggle.scss */
::-moz-selection {
  background: #990033;
  color: #fff;
}

/* line 72, ../../../sass/projects/taggle/taggle.scss */
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 78, ../../../sass/projects/taggle/taggle.scss */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
}

/* line 86, ../../../sass/projects/taggle/taggle.scss */
.ui-widget-content {
  background: #fff;
  color: #990033;
}

/* line 91, ../../../sass/projects/taggle/taggle.scss */
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 97, ../../../sass/projects/taggle/taggle.scss */
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0;
  font-weight: normal;
  color: #8a8a8a;
  cursor: pointer;
}
/* line 107, ../../../sass/projects/taggle/taggle.scss */
.ui-menu .ui-menu-item a:hover {
  color: #fff;
  background: #990033;
}

/* line 118, ../../../sass/projects/taggle/taggle.scss */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #990033;
  color: #fff !important;
}

/* line 126, ../../../sass/projects/taggle/taggle.scss */
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
  color: #fff;
}

/* line 132, ../../../sass/projects/taggle/taggle.scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  font-weight: normal;
  color: #212121;
}

/* line 139, ../../../sass/projects/taggle/taggle.scss */
.ui-helper-hidden {
  display: none;
}

/* line 143, ../../../sass/projects/taggle/taggle.scss */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@-webkit-keyframes bounce {
  /* line 156, ../../../sass/projects/taggle/taggle.scss */
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }

  /* line 161, ../../../sass/projects/taggle/taggle.scss */
  40% {
    -webkit-transform: translateY(-16px);
  }

  /* line 166, ../../../sass/projects/taggle/taggle.scss */
  60% {
    -webkit-transform: translateY(-7px);
  }
}

@-moz-keyframes bounce {
  /* line 173, ../../../sass/projects/taggle/taggle.scss */
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }

  /* line 178, ../../../sass/projects/taggle/taggle.scss */
  40% {
    -moz-transform: translateY(-16px);
  }

  /* line 183, ../../../sass/projects/taggle/taggle.scss */
  60% {
    -moz-transform: translateY(-7px);
  }
}

@-o-keyframes bounce {
  /* line 190, ../../../sass/projects/taggle/taggle.scss */
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }

  /* line 195, ../../../sass/projects/taggle/taggle.scss */
  40% {
    -o-transform: translateY(-16px);
  }

  /* line 200, ../../../sass/projects/taggle/taggle.scss */
  60% {
    -o-transform: translateY(-7px);
  }
}

@keyframes bounce {
  /* line 207, ../../../sass/projects/taggle/taggle.scss */
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  /* line 212, ../../../sass/projects/taggle/taggle.scss */
  40% {
    transform: translateY(-16px);
  }

  /* line 217, ../../../sass/projects/taggle/taggle.scss */
  60% {
    transform: translateY(-7px);
  }
}

/* line 222, ../../../sass/projects/taggle/taggle.scss */
.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

/* line 229, ../../../sass/projects/taggle/taggle.scss */
#forkongithub a {
  background: #990033;
  color: white;
}

/*plugin specific styles*/
/* line 232, ../../../sass/projects/taggle/taggle.scss */
.clearfix:before, .clearfix:after {
  display: block;
  content: "";
  line-height: 0;
  clear: both;
}

/* line 239, ../../../sass/projects/taggle/taggle.scss */
.taggle_list {
  float: left;
  width: 100%;
}

/* line 244, ../../../sass/projects/taggle/taggle.scss */
.taggle_input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}

/* line 251, ../../../sass/projects/taggle/taggle.scss */
.taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
}

/* line 259, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle {
  margin-right: 8px;
  background: #E2E1DF;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 277, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle_hot {
  background: #cac8c4;
}

/* line 281, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle .close {
  font-size: 1.1rem;
  position: absolute;
  top: 5px;
  right: 3px;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 3px;
  line-height: 75%;
  color: #ccc;
  color: rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
  display: none;
}

/* line 296, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle:hover {
  padding: 5px;
  padding-right: 15px;
  background: #ccc;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 303, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle:hover > .close {
  display: block;
}

/* line 307, ../../../sass/projects/taggle/taggle.scss */
.taggle_list .taggle .close:hover {
  color: #990033;
}

/* line 311, ../../../sass/projects/taggle/taggle.scss */
.taggle_placeholder {
  position: absolute;
  color: #CCC;
  top: 12px;
  left: 8px;
  -webkit-transition: opacity, 0.25s;
  -moz-transition: opacity, 0.25s;
  -o-transition: opacity, 0.25s;
  transition: opacity, 0.25s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 322, ../../../sass/projects/taggle/taggle.scss */
.taggle_input {
  padding: 8px;
  padding-left: 0;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100%;
  max-width: 100%;
}

/* line 332, ../../../sass/projects/taggle/taggle.scss */
.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}

/* line 342, ../../../sass/projects/taggle/taggle.scss */
.autocomplete {
  max-height: 200px;
  overflow: scroll;
  position: absolute;
  top: 66px;
  background: white;
  width: 99.5%;
  left: 0.25%;
  z-index: 2;
}

/* line 353, ../../../sass/projects/taggle/taggle.scss */
.autocomplete ul li {
  display: block;
  padding: 6px 8px;
}

/* line 358, ../../../sass/projects/taggle/taggle.scss */
.autocomplete ul li.selected, .autocomplete ul li:hover {
  background: #ff6633;
  color: #fff;
  cursor: pointer;
}

/* line 365, ../../../sass/projects/taggle/taggle.scss */
.ui-autocomplete {
  max-height: 200px;
  overflow: scroll;
  width: 99% !important;
}

/*container styles*/
/* line 374, ../../../sass/projects/taggle/taggle.scss */
textarea.input,
.textarea.input {
  border: 0;
  background: #FDFDFD;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.7);
  min-height: 60px;
  padding: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  cursor: text;
  margin-bottom: 10px;
  position: relative;
}

/* line 391, ../../../sass/projects/taggle/taggle.scss */
.textarea.input:focus,
.textarea.input.active,
textarea.input:focus,
textarea.input.active {
  background: #fff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/* line 397, ../../../sass/projects/taggle/taggle.scss */
.textarea.input,
textarea.input {
  height: auto;
}

/* line 402, ../../../sass/projects/taggle/taggle.scss */
.textarea.tags {
  position: relative;
}

/* line 406, ../../../sass/projects/taggle/taggle.scss */
.textarea.tags * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 415, ../../../sass/projects/taggle/taggle.scss */
.placeholder_input {
  position: relative;
}

/* line 419, ../../../sass/projects/taggle/taggle.scss */
.placeholder_input span {
  position: absolute;
  color: #AAA;
  top: 50%;
  margin-top: -11px;
  left: 10px;
}

/* line 427, ../../../sass/projects/taggle/taggle.scss */
.placeholder_input input {
  width: 120px;
}

/* line 431, ../../../sass/projects/taggle/taggle.scss */
.custom.textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 435, ../../../sass/projects/taggle/taggle.scss */
.custom.textarea .taggle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 5px;
  padding-right: 20px;
}
/* line 440, ../../../sass/projects/taggle/taggle.scss */
.custom.textarea .taggle .close {
  display: inline-block;
  right: 3px;
}

/* line 447, ../../../sass/projects/taggle/taggle.scss */
.custom.delicious {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01, #eeeeee), color-stop(0.15, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(to bottom, #eeeeee 1%, #ffffff 15%);
  border: 1px solid #AAA;
  min-height: 50px;
}
/* line 457, ../../../sass/projects/taggle/taggle.scss */
.custom.delicious.active {
  border-color: #3274D1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01, #eeeeee), color-stop(0.15, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(to bottom, #eeeeee 1%, #ffffff 15%);
}
/* line 467, ../../../sass/projects/taggle/taggle.scss */
.custom.delicious .taggle {
  color: #444;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-border-radius-topleft: 1.5rem;
  -webkit-border-top-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  -moz-border-radius-bottomleft: 1.5rem;
  -webkit-border-bottom-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  background-color: #ddd;
  font-family: sans-serif;
  font-size: 0.8rem;
  padding: 5px;
  padding-left: 20px;
}
/* line 478, ../../../sass/projects/taggle/taggle.scss */
.custom.delicious .taggle .close {
  color: #aaa;
  font-size: 0.9rem;
  height: 0.7rem;
  width: 0.7rem;
  line-height: .1rem;
  margin-top: 3px;
  right: auto;
  left: 5px;
}
/* line 488, ../../../sass/projects/taggle/taggle.scss */
.custom.delicious .taggle .close:hover {
  color: #888;
}

/* line 495, ../../../sass/projects/taggle/taggle.scss */
.custom.stackoverflow {
  border: 1px solid #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 499, ../../../sass/projects/taggle/taggle.scss */
.custom.stackoverflow .taggle {
  color: #3E6D8E;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #E0EAF1;
  font-weight: 200;
}
/* line 505, ../../../sass/projects/taggle/taggle.scss */
.custom.stackoverflow .taggle.taggle_hot {
  background: #BDD0DD;
}
/* line 509, ../../../sass/projects/taggle/taggle.scss */
.custom.stackoverflow .taggle .close {
  color: #aaa;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  border-radius: 0.7rem;
  font-size: 0.9rem;
  height: 0.7rem;
  width: 0.7rem;
  line-height: .1rem;
  margin-top: 3px;
}
/* line 518, ../../../sass/projects/taggle/taggle.scss */
.custom.stackoverflow .taggle .close:hover {
  background: #C03434;
  color: #fff;
}
